<section id="inscricoes">
    <h2>Inscrição na Corrida</h2>

    <form id="form-inscricao">
        <label for="atletacadastrado">Atleta Cadastrado</label>
        <input type="text" name="atletacadastrado" id="atletacadastrado" placeholder="Selecione o atleta (ou Digite o CPF)">

        <label for="corridaescolhida">Corrida Escolhida</label>
        <input type="text" name="corridaescolhida" id="corridaescolhida" placeholder="Maratona Noturna da Cidade">

        <label for="tamanhocamiseta">Tamanho da Camiseta (Kit)</label>
        <input type="text" name="tamanhocamiseta" id="tamanhocamiseta" placeholder="Selecione">

    </form>
</section>